body{
font-family: sans-serif;
margin:0.1em;
}
.DrawingCan {
border:1px solid black;
cursor: crosshair;
position:absolute;
top:0;
margin-left: 0;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: #babdbf;
  overflow-x: hidden;
   }

.sidenav span {
  font-size: 1em;
  background-color:#cecece;
  color:black;
  display: inline-block;
  margin:0.2em;
  border-radius:5px;
  padding:0.5em;
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}
.sidenav span:active {
box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

input:checked + label{
background-color:rgba(29,140,247,0.5);
display:inline-block;
border-radius:50%;
}

.sidenav span:hover {
  background-color: #1d8cf7;
}

.sidenav .closebtn {
float:right;
font-size: 2em;
font-weight:bold;
color:grey;
margin:0.5em;
  }
.sidenav .closebtn:hover {
 color:white;
  }
.sidenav .Options {
  display:inline-block;
    }
.sidenav .Options div {
  display:inline-block;
    }
.sidenav .ToolsCategories {
  display:none;
  margin:0.5em;
  border:2px solid white;
border-radius:5px;  
  }
#main .Btns {
position:fixed;
z-index:100;
cursor: pointer;
margin:0.5em;
border-radius:5px;
}
#main .Btns {
background-color: #babdbf;
}
#main .Btns span {
font-size: 1em;
  background-color:#cecece;
  color:black;
  display: inline-block;
  margin:0.2em;
  border-radius:5px;
  padding:0.5em;
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}
#main .Btns span:active {
box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}
#main .Btns span:hover {
background-color: #1d8cf7;
}
#selected {
display:block;
max-width:50%;
margin:0.5em;
border:2px solid;
}
#preview img {
display:inline-block;
max-width:45%;
margin:0.2em;
}
input[type=radio] {
position:fixed;
opacity:0;
}
input[type=checkbox] {
position:fixed;
opacity:0;
}
input[type=range] {
width: 5em;
position:relative;
opacity:1;
}
input[type=file] {
display:none;
}
input[type=text] {
position:relative;
opacity:1;
}
input[type=number] {
position:static;
opacity:1;
width:3em;
}
input[type=color] {
position:fixed;
opacity:0;
}
input[type=button] {
  display: inline-block;
  margin:0.2em;
  border-radius:5px;
  padding:0.5em;
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}
input[type=button]:active {
box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}
.BtnZone {
display: inline-block;
  transition: 0.3s;
  margin:0.2em;
  border-radius:5px;
  padding:0.1em;
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}

@media print {

*{
visibility: hidden;
}
    canvas {
        visibility: visible;
        left:0;
    }
    
    @page{
       width:100%;
          }
}
